#extension-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 100%;
  z-index: 9999;
  font-size: 1em;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: white;
  color: black;
  padding: 0 10px;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.middle {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timer {
  margin-right: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
